body{
  background-color: #3F51B5;
}

.center-page{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}

#canvas{
  width: 99%;
  height: 70%;
  background-color: #90A4AE;
  border-radius: 12px;
}

#mathematics{
  background-color: #9E9E9E;
}
